@import './reset.css';
@import './variables.css';
@import './visually_hidden.css';

body {
  background: var(--color-default-bg);
  font-family: var(--font-family-base);
  font-size: 8px;
  font-weight: 400;
  color: var(--color-text-main-dark);
}

h2 {
  font-size: 14px;
  font-weight: 600;
}

h3 {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-text-prof-dark);
}

h4 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 16px;
  line-height: 150%;
}

h5 {
  font-size: 10px;
  font-weight: 500;
}

.main {
  width: 100%;
  max-width: 595px;
  padding: 15px 20px;
  margin: auto;

  background: var(--color-main-bg);

  display: flex;
  flex-direction: column;
  row-gap: var(--inter-gap);
}

.container {
  min-width: 124px;
  min-height: 124px;
  padding: var(--container-padding);
  border-radius: var(--border-radius);
  background: var(--color-container-bg);
}

.container-dark {
  padding: var(--container-padding);
  border-radius: var(--border-radius);
  background: var(--color-text-main-dark);
  color: var(--color-text-main-light);
}

.top-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--inter-gap);
  justify-content: space-between;
}

.photo {
  width: 124px;
  min-width: 124px;
  height: 124px;
  min-height: 124px;
  border-radius: var(--border-radius);
}

.middle-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--inter-gap);
  justify-content: space-between;
}

.bottom-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--inter-gap);
  justify-content: space-between;
}

.wrapper {
  width: 267px;
}

@media screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
  }
}
