.header {
  background: var(--color-main-bg);
  width: 100%;
  max-width: 595px;
  margin: auto;
  padding: 22px 20px;
  text-align: right;
  border-bottom: 2px solid var(--color-default-bg);
}

.download-btn {
  padding: 5px 14px;
  font-size: 14px;
  color: var(--color-text-main-light);
  border-radius: 6px;
  background: var(--color-item-active-bg);
}
