.interests {
  width: 100%;
}

.interests__list {
  height: fit-content;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.interests__list__item {
  padding: 4px 10px 0;
  height: 23px;
  border-radius: 40px;
  background: var(--color-item-bg);
  line-height: 150%;
  font-size: 10px;
}
